# Opciones de gitignore por defecto, cuando se genera automáticamente al crear un repositorio en GitHub, con la opción Java
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt
# Package Files #
*.jar
# Añado la excepción de la librería para el wrapper de gradle (ésta no se pone por defecto)
!gradle/wrapper/gradle-wrapper.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.jdbc

#Opciones añadidas por ser un proyecto Gradle

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

#Ignora carpeta bin
bin
target

# Ignora configuración del proyecto eclipse
.project
.settings
.classpath